# BantayBarangay Environment Configuration
DATABASE_URL="file:./bantay.db"
JWT_SECRET="your-secure-jwt-secret-key-at-least-32-chars"
NEXT_PUBLIC_APP_NAME="BantayBarangay"
NEXT_PUBLIC_BARANGAY_NAME="Barangay San Antonio"
NEXT_PUBLIC_CITY_NAME="Pasig City"
UPLOAD_DIR="./public/uploads"
